<div data-simplebar="" class="h-100">

  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
      <li class="menu-title">Menu</li>

      <li>
        <a href="javascript: void(0);" class="waves-effect">
          <i class="bx bx-home"></i>
          <span>Trang chủ</span>
        </a>
      </li>

      <li>
        <a routerLink="/quan-ly-danh-muc" class="waves-effect">
          <i class="bx bx-list-ol"></i>
          <span>Quản lý danh mục</span>
        </a>
      </li>

      <li>
        <a routerLink="/quan-ly-bai-viet" class="waves-effect">
          <i class="bx bx-detail"></i>
          <span>Quản lý bài viết</span>
        </a>
      </li>

      <li>
        <a routerLink="/quan-ly-tai-khoan" class="waves-effect">
          <i class="bx bxs-user"></i>
          <span>Quản lý tài khoản</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Sidebar -->
</div>
